  </body>
  <!-- Initialize autocomplete menu -->

  <footer>
    <div class="container">
      <a href="/allclasses">
        <img src="/assets/logo/logo.png" alt="ureca" height="40px" width="40px">
      </a>
      <br>
      <div class="elements">
        <h4><b>Thank you for using Ureca!</b></h4>
        <a href="/contact"><h5>Contact Us<h5></a>
        <a href="/howtouse/basics"><h5>How to use</h5></a>
        <a href="/termsandconditions"><h5>Terms of Use</h5></a>
      </div>

      <!-- <h5 id="made-with-love">Made with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18 1l-6 4-6-4-6 5v7l12 10 12-10v-7z"/></svg> from Calgary, Canada!</h5> -->

    </div>
    <img id="house" src="/assets/icons/house_grey.png" alt="footer">
  </footer>
</html>
