<% include ../../partials/header %>

<!-- Include CSS/Scripts -->
<link rel="stylesheet" href="/stylesheets/class/private/new-class-review.css">
<script src="/scripts/class/private/new-class.js" type="text/javascript"></script>

<!-- Start -->
<div class="new-class-review">
  <div class="container">
    <form name="newClassReviewForm" action="/allclasses/<%= Class[0]._id %>/reviews" method="POST">
      <h1>Leave A Review For <%= Class[0].classTitle %></h1>
      <h4 class="sub">Your review will help other students understand if this class is a right fit for them.</h4>


      <div class="reviewArea">
        <div class="left">
          <h3><b>Overall Experience</b></h3>
          <h4 class="sub">How would you rate your overall experience in this class?</h4>
          <div class="rateYo" id="overall"></div>
          <input class="inputOverall" type="number" min="0" max="5" name="overallRating" step="0.5" value="">
          <br>

          <h3><b>Clarity</b></h3>
          <h4 class="sub">Are the objectives and learning steps in the class clearly laid out?</h4>
          <div class="rateYo" id="clarity"></div>
          <input class="inputClarity" type="number" min="0" max="5" name="clarityRating" step="0.5" value="">
          <br>

          <h3><b>Usefulness</b></h3>
          <h4 class="sub">Is this class useful and does it help you understand the concepts?</h4>
          <div class="rateYo" id="usefulness"></div>
          <input class="inputUsefulness" type="number" min="0" max="5" name="usefulnessRating" step="0.5" value="">
          <br>

          <h3><b>Tutor's Knowledge</b></h3>
          <h4 class="sub">How well-equipped and knowledgeable is the tutor in this class?</h4>
          <div class="rateYo" id="knowledge"></div>
          <input class="inputKnowledge" type="number" min="0" max="5" name="knowledgeRating" step="0.5" value="">
          <br>

          <h3><b>Write a Public Review</b></h3>
          <!-- <label for="comment"><h4 class="sub">How well-equipped and knowledgeable is the tutor in this class?</h4></label> -->
          <textarea required type="text" name="comment" rows="10" cols="100"
          placeholder="Describe your overall experience in words. What did you learn in this class and any other thoughts and experience you would like to share.

How can this class be improved? Provide suggestions for your tutor!
          " ></textarea>

        </div>
      </div>

      <h4>Thank you for your input! Your reviews will help the tutors and students in your community!</h4>
      <button type="submit">Submit Review</button>
    </form>


  </div>

<% include ../../partials/footer %>
<script src="/scripts/class/private/new-class-review.js" type="text/javascript"></script>
