<% include partials/header %>
<!-- Include CSS/Scripts -->
<link rel="stylesheet" href="/stylesheets/404.css">
<div class="notFound">
  <div class="container">
    <h1 id="sad">:'(</h1>
    <h1 id="sorry">Sorry!</h1>
    <h5 id="error">Error Code 404</h5>
    <h3 id="help">We can't find the page you are looking for.</h3>
    <h4 id="helpful-links">Visit our <a href="/howtouse/basics">how to use</a> page or <a href="/contact">contact us</a> for more information.</h4>
  </div>
</div>


<% include partials/footer %>
<script src="/scripts/class/allclasses.js" type="text/javascript"></script>
