<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" charset="utf-8">
    <title>Ureca | Welcome</title>
    <!-- Ureca CSS -->
    <link rel="stylesheet" href="/stylesheets/landing.css">
    Search
  </head>
  <body>

  </body>
</html>
