<% include ../partials/header %>
<!-- Include CSS/Scripts -->
<link rel="stylesheet" href="/stylesheets/howtouse/basics.css">

<div class="basics">
    <div class="subheader">
      <div class="container">
        <ul>
          <li><a href="/howtouse/basics"><h4 id="selected"><b>Basics</b></h4></a></li>
          <li><a href="/howtouse/tutor"><h4><b>Tutor</b></h4></a></li>
          <li><a href="/howtouse/student"><h4><b>Student</b></h4></a></li>
        </ul>
      </div>
    </div>

    <div class="content">
      <div class="container">
        <h3><b>What is Ureca?</b></h3>
        <h4>Ureca is a website service designed to allow students and tutors to connect in a region best suitable for them. Ureca enables tutors to post their tutoring ads (we call them classes!), and assist students in their region with the help that the student may be looking for. Ureca also allows students who excel and understand their classes, to sign up as a tutor and connect with fellow students looking for help in the course for a little extra income.</h4>
        <h4>When a student books a class with the tutor, they can meet at a local coffee shop, their house or any preferred locations to start their session!</h4>
        <h4><i><b>Ureca</b></i> is derived from the word 'Eureka!' (Greek: Εύρηκα). It is an Ancient Greek word which means 'I found it!'. It is attributed to the Ancient Greek mathematician and inventor Archimedes. </h4>
        <hr>
        <h3><b>Who can join Ureca?</b></h3>
        <h4>Ureca is available for anyone above the age of 16 and is free to sign up.</h4>
        <hr>
        <h3><b>Exploring Ureca</b></h3>
        <h4>You can explore all the <a href="/allclasses"><b>available classes</b></a> that are currently being taught. </h4>
        <hr>
        <h3><b>Contact us or provide feedback</b></h3>
        <h4>If you wish to <a href='/contact'><b>Contact Us</b></a> with a particular issue or would like to provide us with a feedback on how to improve your experience with Ureca, click on the Contact Us link below in the footer. We would love to hear from you and make Ureca better!</h4>
        <hr>
        <h3><b>Searching</b></h3>
        <h4>Enter a few keywords in the search above to get started. Ensure that your search keywords are general subject or class related. You can filter based on your preference to narrow your search.</h4>
        <hr>
        <h3><b>Reviews</b></h3>
        <h4>Reviews are posted to both the tutor and each of their classes. This helps determine how effective the tutor or their class is. Once you are <a href='/auth/signup'><b>signed up</b></a> you can provide reviews once the same class is taken atleast three times.</h4>
        <hr>
        <h3><b>How do I sign up?</b></h3>
        <h4>To sign up to Ureca, click on the <a href='/auth/signup'><b>Sign Up</b></a> link on the above header. Fill out the required information and you are a member of our Ureca community! If you already have an account with us, you can click on the <a href="/auth/login"><b>Login</b></a> button above.</h4>
        <hr>
        <h3><b>Viewing your profile</b></h3>
        <h4>To view your own profile, click on the Avatar or burger icon (for mobile view) and then View Public Profile. This is how your profile will be viewed publicly. If you are a tutor who has posted Classes, they will show up here as well.</h4>
        <hr>
        <h3><b>Editing my profile</b></h3>
        <h4>Once you are signed up, click on the avatar on the top right of the header. Select 'Edit Profile'. Here you can add information about yourself and upload a profile picture. If you decide to become a tutor, you should add information related to your tutoring experience.</h4>
        <hr>
        <h3><b>Payment Terms</b></h3>
        <h4>Ureca is a free service to sign up and browse for students, tutors and classes around your area. Any agreement between the tutor and student made through Ureca’s platform is not the responsibility of Ureca in any way. Please view the <a href="#"><b>Terms and Conditions</b></a> before proceeding.</h4>
      </div>
    </div>

</div>

<% include ../partials/footer %>
