<% include ../partials/header %>
<!-- Include CSS/Scripts -->
<link rel="stylesheet" href="/stylesheets/howtouse/student.css">

<div class="student">
    <div class="subheader">
      <div class="container">
        <ul>
          <li><a href="/howtouse/basics"><h4><b>Basics</b></h4></a></li>
          <li><a href="/howtouse/tutor"><h4><b>Tutor</b></h4></a></li>
          <li><a href="/howtouse/student"><h4 id="selected"><b>Student</b></h4></a></li>
        </ul>
      </div>
    </div>

    <div class="content">
      <div class="container">
        <h3><b>How do I become a student?</b></h3>
        <h4>When you sign up with Ureca, you automatically become a student. You can start viewing classes and get started.</h4>
        <hr>
        <h3><b>Student's Responsibiltiies</b></h3>
        <h4>By signing up as a student on Ureca, you agree to the terms and conditions outlined in Ureca's <a href="#"><b>Terms and Conditions</b></a>. The Student is responsible for ensuring they have done their due diligence in finding a qualified tutor for the classes they offer. The student, along with the tutor, is responsible for agreeing with the students on a price, content and duration of the course before the commencement of the tutoring class. The student is to disclose any information regarding their level of knowledge on the course to the tutor prior to arranging a session.</h4>
        <hr>
        <h3><b>Blackboard</b></h3>
        <h4>Ureca provides you with a <a href='/blackboard/student'><b>Blackboard</b></a> to view your upcoming classes and booking requests.</h4>
        <hr>
        <h3><b>How do I enroll in a Class?</b></h3>
        <h4>To enroll in a class, you need to be registered with Ureca. First, you will need to send a booking request. View the desired Class ad and enter in the date and time. Then click on 'Booking Request'. This will send the tutor a notification of your booking and allow you to message your tutors.</h4>
        <hr>
        <h3><b>Messages</b></h3>
        <h4>Once you have booked a class, you can start messaging your tutor for further information on the class. Ensure that your expecations are communicated to the tutor before making the decision to proceed. Your booking requests will show as 'Pending'. Once the tutor approves the booking, the status of the booking will change to 'Approved'.</h4>
        <hr>
        <h3><b>Upcoming Classes</b></h3>
        <h4>Your upcoming classes will be displayed in the <a href="/blackboard/student"><b>Upcoming Class</b></a> section of your Blackboard.</h4>
        <hr>
        <h3><b>Modifying a booking</b></h3>
        <h4>To modify a booking with new time and date, go to your Blackboard's <a href="/blackboard/student/booking"><b>Booking request</b></a> and click on 'Message Tutor' of the desired booking. In the 'Booking Details' section, click on 'Modify Timing' to update.</h4>
        <hr>
        <h3><b>Cancelling a booking</b></h3>
        <h4>If you decide to cancel your booking, you can do so from your Blackboard's <a href="/blackboard/student/booking"><b>Booking request</b></a> section.</h4>
        <hr>
        <h3><b>Payment Methods</b></h3>
        <h4>Payment method should be determined by communicating what works with your tutor and you. Please have that communication in the messages section of the booking.</h4>
        <hr>
        <h3><b>Reviews</b></h3>
        <h4>When you have taken the same class atleast three times, you can review your tutor and their class from your Blackboard's <a href="/blackboard/tutor-reviews"><b>Review</b></a> section. You can see available reviews and previous posted reviews.</h4>
      </div>
    </div>

</div>

<% include ../partials/footer %>
