<% include ../partials/header %>
<!-- Include CSS/Scripts -->
<link rel="stylesheet" href="/stylesheets/howtouse/tutor.css">

<div class="tutor">
    <div class="subheader">
      <div class="container">
        <ul>
          <li><a href="/howtouse/basics"><h4><b>Basics</b></h4></a></li>
          <li><a href="/howtouse/tutor"><h4 id="selected"><b>Tutor</b></h4></a></li>
          <li><a href="/howtouse/student"><h4><b>Student</b></h4></a></li>
        </ul>
      </div>
    </div>

    <div class="content">
      <div class="container">
        <h3><b>How do I become a tutor?</b></h3>
        <h4>Becoming a tutor on Ureca is very easy. Click on the <a href='/becometutor'><b>Become a tutor</b></a> button from the header above to get started. This will prompt you to start creating a class.</h4>
        <hr>
        <h3><b>Tutor's Responsibiltiies</b></h3>
        <h4>By signing up as a tutor on Ureca, you agree to the terms and conditions outlined in Ureca's <a href="#"><b>Terms and Conditions</b></a>. The Tutor is responsible for creating a truthful profile and ensuring they are qualified for the classes they offer. The tutor, along with the student, is responsible for agreeing with the students on a price, content and duration of the course before the commencement of the tutoring class. The tutor is to disclose any information regarding their qualifications of the course to the student prior to arranging a session.</h4>
        <hr>
        <h3><b>Blackboard</b></h3>
        <h4>Ureca provides you with a <a href='/blackboard/tutor'><b>Blackboard</b></a> to manage and create your class. In your Blackboard, you can also view any requested booking from students and upcoming classes.</h4>
        <hr>
        <h3><b>What is a Class?</b></h3>
        <h4>A class is your tutoring ad. It is best to keep your class to a specific subject or course related. For example, if you are an experienced tutor in both Physics and Mathematics then we advise you to create two separate classes. This way students can decide which one to chose from and the reviews provided to your class will be specific to what you teach.</h4>
        <h4>Your class should be specific to a subject. You can associate your class to a particular course taught at an institute. This will align with the students taking courses from those institutes.</h4>
        <hr>
        <h3><b>Creating a class</b></h3>
        <h4>To create a class, you can click the 'Create a Class' button on the top header. This will take you to a form to fill in your class information.</h4>
        <h4><b>1.</b> Enter a suitable class title. Try to enter keywords that are subject or course related. For example: English as a second language.</h4>
        <h4><b>2.</b> Select from the subject category. The subject category you choose will automatically populate with a Ureca illustration. We want your tutoring ad to look pretty!</h4>
        <h4><b>3.</b> You can assign the target level of your students for your tutoring ad. If you intend to teach students of all level you can select Any. </h4>
        <h4><b>4.</b> If your tutoring ad will help students at a particular institute then you can type them in. You can add as many as you want by clicking 'Add Insttitute' one by one. For example: University of Calgary</h4>
        <h4><b>5.</b> If your tutoring ad will help students enrolled in a particular course code, you can add as many as you want by clicking 'Add Course Code' one by one.</h4>
        <h4><b>6.</b> You can add certain topics that you are willing to cover in your class. Click on 'Add Topic' one by one.</h4>
        <h4><b>7.</b> If you have any additional materials you will provide your students, you can add them here. Click on 'Add Learning Material' one by one.</h4>
        <h4><b>8.</b> For any other information or description you want to provide, we recommend you add them in the Description box. Provide as much detail about your class as possible.</h4>
        <h4><b>9.</b> Specify your tutoring class price.</h4>
        <h4><b>10.</b> Once you have filled all the details and are ready to go, click on Create Class at the bottom.</h4>
        <hr>
        <h3><b>Class Page</b></h3>
        <h4>From your Blackboard, you can view your class page. This is how your students will view your class. You can now also search for your class.</h4>
        <hr>
        <h3><b>Update Tutoring Profile</b></h3>
        <h4>When your first tutoring class is posted, you can update your <a href="/edit-tutor"><b>tutoring profile</b></a>. This will update your Class with all the relevant information about you as a tutor.</h4>
        <hr>
        <h3><b>Messages</b></h3>
        <h4>Once a student requests a booking for one of your class, you can view them in the <a href="/blackboard/tutor/booking"><b>Booking Request</b></a> of your Blackboard. Click on 'Message' to message your student. We recommend you have a conversation with your student to understand their expectations before approving their class.</h4>
        <hr>
        <h3><b>Approve a booking</b></h3>
        <h4>You can approve the booking by clicking 'Approve' on the right hand side of the message platform. Once approved, the booking will change from 'Pending' to 'Approve'. This will be now shown in your <a href="/blackboard/tutor/scheduled"><b>Scheduled Classes</b></a> section of the Blackboard.</h4>
        <hr>
        <h3><b>Modifying a booking</b></h3>
        <h4>To modify a booking with new time and date, go to your Blackboard's <a href="/blackboard/tutor/booking"><b>Booking request</b></a> and click on 'Message Student' of the desired booking. In the 'Booking Details' section, click on 'Modify Timing' to update.</h4>
        <hr>
        <h3><b>Cancelling a booking</b></h3>
        <h4>If the requested booking from the student does not work with your time and schedule, you can cancel the booking from your Blackboard's <a href="/blackboard/tutor/booking"><b>Booking request</b></a> section.</h4>
        <hr>
        <h3><b>Tutoring Session</b></h3>
        <h4>When you have an approved class, on the day of the specified booking you can meet your student to teach at the agreed location!</h4>
        <h3><b>Payment Methods</b></h3>
        <h4>Payment method should be determined by communicating what works with your student and you. Please have that communication in the messages section of the booking.</h4>
      </div>
    </div>

</div>

<% include ../partials/footer %>
